* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f3;
}

/* Header */
header {
    background-color: #76c82e;
    color: #143600;
    text-align: center;
    padding: 15px;
}

/* Page layout */
.container {
    display: flex;
    padding: 30px;
    gap: 30px;
}

/* Home page sections */
.left {
    width: 60%;
}

.right {
    width: 40%;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
}

button {
    background-color: #76c82e;
    color: #143600;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #d8801c;
}

/* Products page */
#results.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Product cards */
.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.small-btn {
    background-color: #76c82e;
    padding: 8px 12px;
    font-size: 14px;
}

.fav-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 8px;
}

/* Responsive layout--- Grid on desktop, Single column on mobile */
@media (max-width: 768px) {
  #results.grid {
    grid-template-columns: 1fr; /* single column */
  }
}




